set timeout=3
set default=0

insmod all_video
set gfxmode=auto
set gfxpayload=keep

menuentry "EdgeOS" {
    multiboot2 /boot/edgeos.bin
    boot
}

menuentry "Try EdgeOS (LiveCD Mode)" {
    multiboot2 /boot/edgeos.bin
    module2 /boot/rootfs.img
    boot
}
